name: Unit Tests
on:
  pull_request:
    brances: [main]

jobs:
  test:
    name: Run unit tests of PR branch
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up Python 3.11
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install -r requirements-dev.lock
      - name: Run tests
        run: python -m pytest
